@import 'noto.scss';

/*Colors*/

$white:#fff;
$black: #000;
$pastel:#f9f3ef;

/*Adaptive*/
$breakpoint_xl:1024px;
$breakpoint_m:768px;
$breakpoint_sm:420px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  color: $black;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

h1,
h2,
h3,
p,
ul {
  margin-bottom: 1rem;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.introduction--link,
.footer__link {
  font-weight: 600;

  color: #2600ff;

  transition: 0.1s ease;

  &:hover {
    opacity: 0.5;
  }

  &:visited {
    color: #503fb1;
  }
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

  &--main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0px;
  
    max-width: 1200px;
    outline: 2px solid #e2d2d2;
    background: $pastel;

  }

}

@media screen and (max-width:$breakpoint_m) {
  .container--main {
    padding-left: 1rem;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.logo__img {
  margin: 0 auto 0;
  width: 150px;
  height: 150px;
}

.nav {
  padding: 15em 1.5em 0.5em 1.5em;
  outline: 2px solid #e2d2d2;
  background: #faefe773;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 15em;
  z-index: 10000;
}

@media screen and (max-width:$breakpoint_xl) {
  .nav {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: auto;
    overflow-x: inherit;
    overflow-y: inherit;
    position: relative;
    outline: none;
    background: none;
    display: none;
  }

  &.show {
    display: flex;
  }
}


.nav__list {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 3.5rem;

  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width:$breakpoint_xl) {
  .nav__list {
    height: auto;
    width: 100%;
  }
}

.nav__link {
  text-decoration: none;
  color: #666662;
  line-height: 3rem;
  transition: 0.4s;

  &:hover {
    color: $black;
    font-size: 22px;
  }
}

.caption {
  padding: 0.6rem;

  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.15em;

  transform: translate(0px, 120%);
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.caption.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.introduction {
  border-bottom: 1px solid rgba(17, 16, 19, 0.3);
}

.red {
  color: red;
}

.description__cols {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 48%;

  &--left {
    padding-top: 100px;
    padding-right: 20px;
  }

}

@media screen and (max-width:$breakpoint_m) {
  .description__cols--left {
    padding-top:20px;
  }
}

.important__inner {
  padding: 1rem;
  margin: 1rem 0;
  border: 3px solid #f7f4f3;
  border-radius: 6px;
}

.img-wrapper {
  overflow: hidden;
}

.description__img {
  padding: 30px;
  width: 44rem;
  height: 56.5rem;
  transition: 0.3s;

  object-fit: cover;
  object-position: -390px;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width:$breakpoint_m) {
  .description__img {
    padding: 30px 30px 30px 0;
  }
}

@media screen and (max-width:$breakpoint_sm) {
  .description__img {
    display: none;
  }
}

.burger {
  width: 30px;
  height: 30px;

  background-color: $white;
  border-radius: 45%;
  border: 1px solid $white;

  display: none;

  @media screen and (max-width:$breakpoint_xl) {
    display: block;
  }
}

.burger__icon {
  display: block;
  max-width: 100%;
  height: auto;
}

#buttonUp {
  display: inline-block;
  background-color: $black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#buttonUp::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#buttonUp:hover {
  cursor: pointer;
  background-color: #333;
}

#buttonUp:active {
  background-color: #555;
}

#buttonUp.show {
  opacity: 1;
  visibility: visible;
}

.important__header {
  display: flex;
  align-items: baseline;
}

.important__caption {
  text-decoration: underline;
  padding-left: 0.3rem;
}

.important__list {
  padding: 0.5rem;
  margin: 0.5rem;
}



.opportunities__list,
.restrictions__list {
  margin-left: 20px;
  list-style-type: disc;


}


.conclusion__list {
  margin-left: 20px;
  list-style-type: square;
}

.footer__inner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__row {
  display: flex;
  flex-direction: column;

}

.peculiarities__list li {
  padding-left: 2rem;
  background-image: url(/img/304167.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.description__text {
  overflow: hidden;
}

.move__text {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s linear 0s;
}

.move__text.active,
.active .move__text {
  transform: translate(0px, 0px);
  opacity: 1;
}

.social__img {
  width: 25px;
  height: 25px;
}

.footer__text {
  margin-bottom: 0px;
}

.social__link {
  transition: 0.1s ease;

  &:hover {
    opacity: 0.3;
  }
}

@media screen and (max-width:$breakpoint_sm) {
  .restrictions__img {
    width: 250px;
    height: 250px;
  }
}